MCP_TYPE=mcp-go
AUTH_TYPE=moodle
MOODLE_BASE_URL=https://tu-plataforma-moodle.com
MOODLE_USERNAME=tu_usuario
MOODLE_PASSWORD=tu_contraseña
KOHA_BASE_URL=https://tu-sistema-koha.com
KOHA_USERNAME=tu_usuario_koha
KOHA_PASSWORD=tu_contraseña_koha
BIBLIO_TYPE=koha